*{
    margin:0;
    padding:0;
}
.Plannercard{
    max-width: 600px;
    min-height: 150px;
    margin: 120px auto 0;
    background-color: rgb(214, 234, 171);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.Plannercard h1{
    color: rgb(2, 61, 2);
    padding-bottom: 20px;
    padding-top: 10px;
}
